body {
  color: #02475b;
  margin: 0;
  font-size: 0.875rem;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 400;
  line-height: 1.43;
  background-color: #dcdfce;
}
div {
  display: block;
}
a {
  text-decoration: none;
  outline: 0;
}
.container {
  max-width: 1068px;
  margin: 0 auto 0 auto;
}
.navbar {
  margin: 0 auto 0 auto;
  height: 90px;
  max-width: 1068px;
  display: flex;
  position: relative;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
  align-items: center;
  background-color: #fff;
}
.NavContainer {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  position: fixed;
}
.ApolloLogo {
  height: 88px;
  display: block;
  padding: 12px 37px 12px 16px;
}
.ApolloLogo img {
  width: 80px;
}
.style14 {
  width: 100%;
  height: 100%;
  display: flex;
  min-width: 530px;
  align-items: center;
  justify-content: flex-end;
}
.style15 {
  width: 72px;
  height: 72px;
  padding: 12px;
  position: relative;
}
.style19 {
  width: 48px;
  cursor: pointer;
  height: 48px;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background-color: #02475b;
}
.style25 {
  width: 72px;
  height: 88px;
  display: flex;
  align-items: center;
}

.style33 {
  height: 100%;
  display: flex;
  font-size: 13px;
  align-items: center;
}
.style33 a {
  color: #02475b;
  height: 100%;
  display: flex;
  padding: 12px 16px;
  font-size: 1em;
  min-width: 95px;
  align-items: flex-start;
  font-weight: 600;
  border-bottom: 5px solid transparent;
  flex-direction: column;
  justify-content: center;
}
.style36 {
  display: inline-block;
  font-size: 13px !important;
  line-height: 18px !important;
  border-bottom: 1px solid #01475b;
  padding-bottom: 3px;
  text-transform: uppercase;
}
.style37 {
  display: block;
  opacity: 0.6;
  font-size: 12px !important;
  line-height: 17px !important;
  padding-top: 3px;
}
.style39 {
  color: #02475b;
  cursor: pointer;
  height: 100%;
  display: flex;
  padding: 16px;
  position: relative;
  font-size: 13px;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  justify-content: center;
}

.style40 {
  top: -7px;
  color: #fff;
  right: -4px;
  width: 14px;
  height: 14px;
  position: absolute;
  font-size: 9px;
  text-align: center;
  font-weight: bold;
  line-height: 14px;
  border-radius: 50%;
  background-color: #ff748e;
}
.style41 {
  position: relative;
}
.icon-ic_cart {
  content: "\e913";
  color: #02475b;
}
.icon-ic_account {
  content: "\eac2";
  color: #fff;
}
.style10 {
  padding: 20px 0;
}
.style5 {
  margin: 50px auto;
  max-width: 1064px;
  margin-top: 30px;
  background-color: #f1f1f1;
}
.style2 {
  margin-top: 90px;
  padding: 0 20px 40px;
  z-index: 1;
  position: relative;
  background: #f7f8f5;
}
.style6 {
  padding: 15px 0;
  border-bottom: 0.5px solid rgba(2, 71, 91, 0.3);
}
.style7 {
  margin: 0 10px 0 0;
  display: none;
}
.style8 {
  margin-top: 50px;
  margin: 0;
  display: flex;
  padding: 0;
  list-style: none;
  align-items: center;
}
.style8 li a {
  color: #fca317;
  padding: 0 4px 0 7px;
  position: relative;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
}
.style8 li.active a {
  color: #007c93;
}
.style58 {
  padding: 20px;
  background: #fff;
}
.style48 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.style48 h1 {
  color: #007c93;
  font-weight: 600;
}

.style477 {
  display: flex;
  align-items: center;
}
.style476 {
  width: 100%;
  height: 36px;
  display: flex;
  position: relative;
  align-items: center;
}
.style476 > img {
  left: 0;
  position: absolute;
}
.style475 {
  padding: 0 0 0 30px;
}
.style494 input {
  color: #01475b;
  font-size: 16px;
  font-weight: 500;
  padding-top: 9px;
}
.style304 {
  width: 100%;
}
.style305 {
  padding: 10px 0 0;
}
.style305 h6 {
  font-size: 12px;
  font-weight: bold;
}
.style306 {
  width: 100%;
  margin: 0 -10px;
  display: flex;
  padding: 10px 0 10px;
  list-style: none;
  overflow-x: auto;
  align-items: center;
}
.style306 li {
  padding: 0 8px;
  text-align: center;
}
.style306 li a {
  color: #00b38e;
  border: 1px solid #d8d8d8;
  display: block;
  padding: 2px 8px;
  font-size: 12px;
  min-width: 50px;
  background: #ffffff;
  font-weight: 500;
  white-space: nowrap;
  border-radius: 5px;
}
.style308 {
  color: #00a7b9;
  margin: 10px 0;
  font-size: 16px !important;
  min-height: 24px;
  font-weight: bold;
}
.style309 {
  padding: 10px 0;
  min-height: 42px;
  border-bottom: 0.5px solid rgba(2, 71, 91, 0.3);
}
.style309 h2 {
  color: #02475b;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.style311 {
  padding: 20px 0;
  min-height: 220px;
}
.MuiGrid-grid-md-3 {
  flex-grow: 0;
  max-width: 25%;
  flex-basis: 25%;
}
.style313 {
  height: 180px;
  padding: 10px;
  position: relative;
  background: #fff;
  box-shadow: 0 5px 20px 0 rgb(128 128 128 / 30%);
  text-align: center;
  border-radius: 10px;
}
.style313 a {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.style313 h3 {
  height: 41px;
  display: -webkit-box;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #020d11;
}
.style313 img {
  width: 40px;
  margin: 10px 0;
}
.style313 p {
  color: rgb(2, 71, 91, 0.6);
  height: 24px;
  display: -webkit-box;
  overflow: hidden;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.style314 {
  color: #02475b !important;
  padding: 0 !important;
  font-size: 10px !important;
  text-align: center;
  font-weight: 500;
}
.style309 {
  padding: 10px 0;
  min-height: 42px;
  border-bottom: 0.5px solid rgba(2, 71, 91, 0.3);
}
.style309 h2 {
  color: #02475b;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.style312 {
  padding: 20px 0;
  min-width: 676px;
}
.style320 {
  width: 100%;
}
.MuiGrid-spacing-xs-1 {
  width: calc(100% + 10px);
  margin: -5px;
}
.MuiGrid-spacing-xs-1 > .MuiGrid-item {
  padding: 5px;
}
.style152 {
  color: #02475b;
  cursor: pointer;
  display: flex;
  padding: 10px;
  font-size: 12px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  max-height: 120px;
  min-height: 80px;
  text-align: left;
  align-items: flex-start;
  font-weight: 500;
  border-radius: 5px;
  background-color: #fff;
}
.style155 {
  color: rgba(2, 71, 91, 0.6);
  display: -webkit-box;
  padding: 0 0 10px;
  overflow: hidden;
  font-size: 12px;
  max-height: 38px;
  font-weight: 500;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.style156 {
  color: #02475b;
  padding: 10px 0 0;
  font-size: 10px;
  border-top: 1px solid rgba(2, 71, 91, 0.3);
  font-weight: 600;
}
.style154 {
  top: 5px;
  right: 0;
  position: absolute;
}
.style157 {
  width: 100%;
  padding: 0 10px 0 0;
  position: relative;
  min-height: 80px;
}
.style159 {
  width: 48px;
  height: 48px;
  margin-right: 15px;
}
.style159 img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.MuiTabs-flexContainer {
  display: flex;
}
.MuiGrid-grid-sm-6 {
  flex-grow: 0;
  max-width: 50%;
  flex-basis: 50%;
}
.MuiGrid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.MuiInputBase-input {
  font: inherit;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}

.MuiInput-root {
  position: relative;
}

.MuiInputBase-fullWidth {
  width: 100%;
}

.MuiInputBase-root {
  color: #02475b;
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
}
.MuiTypography-body1 {
  font-size: 1rem;
  font-family: IBM Plex Sans, sans-serif;
  line-height: 1.5;
}
.MuiGrid-spacing-xs-2 {
  width: calc(100% + 20px);
  margin: -10px;
}
.MuiGrid-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.MuiGrid-item {
  margin: 0;
  box-sizing: border-box;
  padding: 10px;
}
.MuiGrid-grid-md-8 {
  flex-grow: 0;
  max-width: 66.666667%;
  flex-basis: 66.666667%;
}
.MuiGrid-grid-md-4 {
  flex-grow: 0;
  max-width: 33.333333%;
  flex-basis: 33.333333%;
}
.style160 {
  padding: 20px;
  font-size: 14px;

  min-height: 200px;
  font-weight: 500;
  line-height: 23px;
  border-radius: 5px;
  background-color: #fff;
}
.style160 h3 {
  color: #01667c;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.style160 ul {
  padding-left: 20px;
}
.style171 {
  margin: 0 0 20px;
  padding: 15px;
  background: #ffffff;
  border-radius: 5px;
}
.style171 h1 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}
.style172 {
  min-height: 380px;
}
.MuiTabs-root {
  display: flex;
  overflow: hidden;
  min-height: 48px;
}
.MuiTabs-fixed {
  width: 100%;
  overflow-x: hidden;
}
.MuiTabs-scroller {
  flex: 1 1 auto;
  display: inline-block;
  position: relative;
  white-space: nowrap;
}
.style173 {
  border: 1px solid transparent;
  opacity: 1;
  padding: 10px;
  overflow: visible;
  position: relative;
  min-width: 140px;
  background: #f7f8f5;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  min-height: auto;
  border-radius: 5px;
}
.style173 span {
  z-index: 5;
  position: relative;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  text-transform: none;
}
.style176 {
  display: none;
}

.style191 {
  background-color: #0087ba;
}

.style189 {
  width: 100%;
  bottom: 0;
  height: 2px;
  position: absolute;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.style179 {
  display: flex;
  text-align: left;
  align-items: center;
}
.style179 img {
  margin: 0 20px 0 0;
}
.style180 {
  color: #0589bb;
  font-size: 14px !important;
  font-weight: 600;
  padding-right: 30px;
  text-transform: uppercase;
}
.style181 {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.style182 {
  margin: 0;
  padding: 0;
  list-style: none;
}
.style182 li {
  display: flex;
  padding: 5px 0;
  align-items: center;
}
.style182 li p {
  color: rgb(2, 71, 91, 0.6);
  margin: 0 0 0 15px;
  font-size: 12px;
  font-weight: 500;
}
.style184 p {
  color: rgb(1, 71, 91, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
  padding-right: 20px;
}
.style170 {
  display: flex;
  align-items: center;
}
.style170 img {
  max-width: 77px;
}
.MuiTab-wrapper {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.MuiManageProfile-signUpBar {
  padding-top: 20px;
  padding-bottom: 20px;
  float: inline-end;
}
.MuiManageProfile-mascotCircle {
  cursor: pointer;
}
.MuiManageProfile-mascotCircle img {
  max-width: 72px;
  max-height: 72px;
  vertical-align: middle;
}
.Bottom-container {
  margin: auto;
  width: 100%;
}
.Bottom-bottomLinks {
  padding: 20px;
  background-color: #020d11;
}
.Bottom-logo {
  padding-bottom: 11px;
}
.Bottom-logo img {
  width: 110px;
  height: 80px;
}
.Bottom-bottomLinks ul li {
  list-style-type: none;
  text-align: center;
}
.Bottom-bottomLinks ul li a {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  text-align: left;
  line-height: 27px;
}
.Bottom-panelRoot {
  width: 100%;
  margin: 0 !important;
  background: transparent;
  box-shadow: none;
}
.Bottom-panelHeader {
  color: #02475b;
  margin: 0 !important;
  padding: 0;
  font-size: 14px;
  min-height: 30px !important;
  text-align: left;
  align-items: flex-start;
  font-weight: 600;
}
.Bottom-collapseHeader {
  color: #fcb716 !important;
  min-height: 30px !important;
  text-align: left;
  margin-bottom: 0;
}
.Bottom-defaultOpen {
  display: block;
}
.Bottom-panelDetailsBlock {
  padding: 10px 0px 20px 9px;
  text-align: left;
}
.Bottom-innerLinks {
  margin: 0px 20px 0px 10px;
  display: inline-block;
  position: relative;
}
